<?xml version="1.0" encoding="utf-8"?>
<ArrayOfKeyValueOfstringanyType xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.AlwaysShowDesktopNotification</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.ChangeBackgroundEachDesktop</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.Culture</Key>
    <Value i:nil="true" />
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundFolderPath</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\getsg\Downloads</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundImagePaths#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundImagePaths[0]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">D:\Downloads\Black.png</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundImagePaths[1]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\getsg\Downloads\kssEaVd.jpeg</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundImagePaths[2]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">C:\Users\getsg\Downloads\66812860_2373051699681610_7378528040982151168_n.jpg</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopBackgroundPositions#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopNames#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopNames[0]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">STUDY</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopNames[1]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">WORK</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.DesktopNames[2]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">RELAX</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.FirstTime</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationBodyFontSize</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">12</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationHeaderFontSize</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">12</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationMinHeight</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">10</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationMinWidth</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">200</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationWindowStyle</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:unsignedInt">2</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.OverrideWindowsDefaultKeyCombination</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.PinWindowMinWidth</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">300</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.Placement</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:unsignedInt">9</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.SimpleNotification</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.SimpleNotificationMinWidth</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">100</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.TrayShowDesktop</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.TrayShowOnlyCurrentNumber</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.UseDesktopName</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.MoveToIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.MoveToIndicesAndSwitch#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.Pin</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.SwapDesktopIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.SwitchToIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveToIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveToIndicesAndSwitch#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.SwapDesktopIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.SwitchToIndices#Count</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:int">3</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.SwitchToIndices[0]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">49,162,164</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.SwitchToIndices[1]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">50,162,164</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.SwitchToIndices[2]</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">51,162,164</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.TogglePin</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">32,162,91,164</Value>
  </KeyValueOfstringanyType>
</ArrayOfKeyValueOfstringanyType>